.container {
  width: 240px;
  height: 400px;
  aspect-ratio: 240 / 400;
  position: relative;
}

.sandglass {
  width: 240px;
  height: 400px;
  color: var(--primary-color);
}

.waterWrapper {
  position: absolute;
  top: 50%;
  bottom: 15%;
  left: 0%;
  width: 100%;
}

@keyframes toBig {
  0% {
    width: 0%;
  }
  100% {
    width: 22%;
  }
}

@keyframes toDrop {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.water {
  position: absolute;
  top: 0%;
  left: 51%;
  transform: translateX(-51%);
  width: 0%;
  color: var(--primary-color);
  &.step1 {
    // 执行一次动画，宽度从0%变为22%, 结束后保持在22%
    animation: toBig 1s ease-out forwards;
  }
  &.step2 {
    width: 22%;
    // 执行一次动画，top从0变为100%, 动画匀速
    animation: toDrop 1.4s linear forwards;
  }
  &.step0 {
    width: 22%;
    top: 100%;
  }
}

.fish {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 66%;
}
