.container {
  width: 240px;
  height: 400px;
  aspect-ratio: 240 / 400;
  position: relative;
  overflow: hidden;
}

.sandglass {
  width: 240px;
  height: 400px;
  color: var(--primary-color);
}

.water {
  width: 240px;
  height: 400px;
  position: relative;
}

.waterDropWrapper {
  position: absolute;
  top: 50%;
  bottom: 28%;
  left: -2%;
  width: 100%;
  &.stage_1 {
    bottom: 21%;
  }
  &.stage_2 {
    bottom: 26%;
  }
  &.stage_3 {
    bottom: 31%;
  }
  &.stage_4 {
    bottom: 36%;
  }
  &.stage_5 {
    bottom: 41%;
  }
  &.stage_6 {
    display: none;
  }
}

.fish {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 66%;
  &.stage_1 {
    display: none;
  }
  &.stage_2 {
    bottom: 13%;
    width: 32%;
  }
  &.stage_3 {
    bottom: 14%;
    width: 45%;
  }
  &.stage_4 {
    bottom: 18%;
    width: 48%;
  }
  &.stage_5 {
    bottom: 20%;
    width: 50%;
  }
  &.stage_6 {
    bottom: 20%;
    width: 54%;
  }
}
