.page {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 26px;
	padding-bottom: 28px;
}

.hourglassWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-left: 6px;
	margin-bottom: 26px;
}

.hourglass {
	max-width: 100%;
}
